<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vignesh.imageupload">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/headshot_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/headshot_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FormScreen"
            android:label="@string/title_activity_form_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HelpScreen"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>